.item {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 8px;

  margin-bottom: 10px;
  background-color: rgb(211, 207, 207);
}

.name {
  text-shadow: #000;

  font-size: larger;
  font-style: italic;
  margin-left: 20px;
}

.status {
  display: flex;
  justify-content: center;
  color: rgb(7, 7, 7);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;

  background-color: red;
}

.status.active {
  background-color: green;
}
